@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --color: #535bf2;
    --color-hover: #646cff;
    background-color: #242424;
}

a {
    font-weight: 500;
    color: #646cff;
    text-decoration: inherit;
}
a:hover {
    color: #535bf2;
}
